:root {
  --mainColor: black;
  --secondaryColor: white;
}

* {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.container::-webkit-scrollbar {
  display: none;
}

.contact {
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  // background-color: red;

  .container {
    width: 100%;
    height: 100%;
    // background-color: green;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

    section {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      width: 100vw;
      height: 100vh;
      scroll-snap-align: start;

      &:nth-child(2) {
        background-color: var(--mainColor);
        color: var(--secondaryColor);
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 0px 100px;
      }

      &:nth-child(3) {
        background-color: var(--mainColor);
        color: var(--secondaryColor);
        // mix-blend-mode: difference;
        // color: black;
        text-align: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        flex-direction: column;
        align-items: flex-start;
        min-height: 100vh;
        padding: 0px 200px;
      }

      &:nth-child(4) {
        background-color: var(--mainColor);
        color: blue;
      }

      h1 {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 350%;
      }
    }
  }
}

// sky

body {
  margin: 0;
  overflow: hidden;
}

sky {
  display: block;
  background: var(--mainColor);
  // width: 100vw;
  // height: 100vh;
}

star {
  border-radius: 50%;
  background: var(--secondaryColor);
  position: absolute;
  z-index: 0;
  animation: star linear infinite;

  @for $i from 1 through 70 {
    &:nth-child(#{$i}) {
      $size: random(7) + 3px;
      width: $size;
      height: $size;
      animation-duration: random(30) + 15s;
      animation-delay: random(40) - 40s;
      top: random(101) - 1vh;
    }
  }
}

@keyframes star {
  from {
    transform: translate3d(-100%, 0, 1px);
  }

  to {
    transform: translate3d(100vw, 0, 1px);
  }
}

// Cursor
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: white;
  transition: 0s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
}

// body .container section .greeting-wrapper .email-link:hover~.cursor {
//   transition: 0.1s;
//   transform: scale(3);
// }

// glitchy text

// .glitch {
//   font-size: 8rem;
//   font-weight: 700;
//   text-transform: uppercase;
//   position: relative;

//   text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
//     -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
//     0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

//   animation: glitch 500ms infinite;
// }

// .glitch span {
//   position: absolute;
//   // top: 0;
//   // left: 0;
// }

// .glitch span:first-child {
//   animation: glitch 650ms infinite;
//   clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
//   transform: translate(-0.025em, -0.0125em);
//   opacity: 0.8;
// }

// .glitch span:last-child {
//   animation: glitch 375ms infinite;
//   clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
//   transform: translate(0.0125em, 0.025em);
//   opacity: 0.8;
// }

// /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */

// @keyframes glitch {
//   0% {
//     text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
//       -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
//       -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   14% {
//     text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
//       -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
//       -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   15% {
//     text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
//       0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
//       -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   49% {
//     text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
//       0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
//       -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   50% {
//     text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
//       0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   99% {
//     text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
//       0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
//   }

//   100% {
//     text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
//       -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
//       -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
//   }
// }

// @media (prefers-reduced-motion: reduce) {

//   *,
//   ::before,
//   ::after {
//     animation-delay: -1ms !important;
//     animation-duration: 1ms !important;
//     animation-iteration-count: 1 !important;
//     background-attachment: initial !important;
//     scroll-behavior: auto !important;
//     transition-duration: 0s !important;
//     transition-delay: 0s !important;
//   }
// }

.hide {
  opacity: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: -10px;
  // padding-top: -10px;
}

.fa {
  width: 2em;
  height: 2em;
  color: white;
  padding-left: 10px;
}

.fa:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.greeting-wrapper {
  // text-align: center;
  padding: 0px 100px;
}

.small {

  margin: 0px 0px 30px 4px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: 1em;
}

.big {
  font-size: 10vh;
  margin: 0px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.red {
  color: red;
}

.email-link {
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;

  padding: 1.25rem 1.75rem;
  font-size: large;
  font-family: monospace;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  margin-top: 50px;
}

.email-link:hover {
  background: rgb(37, 37, 37);
}

.content {
  color: #CCCCCC;
  font-weight: 400;
  width: 70%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed-email {
  position: absolute;
  // list-style: none;
  // bottom: 0;
  right: 0;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
}

.stand {
  margin: 20px auto;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2vh;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.stand:hover {
  transform: scale(1.2);
  color: orange;
  transition: 0.1s;
}